<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout :: common_head('発注リクエスト一覧')}"></head>
<body>
<div th:replace="~{common/layout :: common_nav}"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>発注リクエスト一覧</h2>
        <a th:href="@{/orders/new}" class="btn btn-success">新規発注を作成</a>
    </div>
    <div th:replace="~{common/layout :: seccess_alert}"></div>
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>ID</th>
                <th>備品名</th>
                <th>数量</th>
                <th>ステータス</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orderPage.content}">
                <td th:text="${order.orderId}">101</td>
                <td th:text="${order.itemName}">備品名</td>
                <td th:text="${order.quantity}">1</td>
                <td>
                    <span class="badge" 
                          th:classappend="${order.statusCode == '完了'} ? 'bg-secondary' : 'bg-primary'"
                          th:text="${order.statusCode}">ステータス</span>
                </td>
                <td>
                    <a th:href="@{/orders/edit/{id}(id=${order.orderId})}" class="btn btn-sm btn-outline-primary">詳細・編集</a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav th:if="${orderPage.totalPages > 1}" class="d-flex justify-content-center mt-4">
        <ul class="pagination pagination-sm shadow-sm">
            
            <li class="page-item" th:classappend="${orderPage.first} ? 'disabled'">
                <a class="page-link" th:href="@{/orders(page=0)}">&laquo;&laquo;</a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/orders(page=${i})}" th:text="${i + 1}">1</a>
            </li>

            <li class="page-item" th:classappend="${orderPage.last} ? 'disabled'">
                <a class="page-link" th:href="@{/orders(page=${orderPage.totalPages - 1})}">&raquo;&raquo;</a>
            </li>
            
        </ul>
    </nav>
</div>
</body>
</html>